@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* optional: override transitions */
html {
  scroll-behavior: smooth;
}

option:checked {
  background-color: #cce5ff !important; /* light blue */
  font-weight: bold;
  color: #000;
}
